/* REVIEW update styles */

body {
    display:flex;
    flex-direction:column;
    line-height: 1.2;
  }

  h1 {
    font-size: 200%;
    color: rgb(255, 136, 0);
    margin-bottom: 0%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }

/* REVIEW Title formatting */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    background-color: white;
    gap: 25px;
    align-items: flex-end;
    margin-bottom: 0%;
}
  
  .Pinkus { 
    color: gray;
  }
  
  .Pinkus h1 {
    display: inline-block;
    font-size: 46px;
    color: rgb(255, 136, 0);
  }

/* navigation styling */
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    margin-bottom: 0%;
  }

  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
  }

  nav a::after {
    color: orangered;
    text-decoration: underline orangered;
  }


/* TODO Main content */

main {
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
} 

main section {
    justify-content: flex-end;
}

main aside {
    justify-content: flex-end;
}
/* TODO add flex to footer */

footer {
    background-color: rgb(255, 136, 0);
    margin-bottom: 0%;
    display: flex;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 136, 0);
}

section ul {
 display: flex;
 list-style: none;
 gap: 35px;
 align-items: center;
}


/* TODO  */
@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        padding-right: 1%;
    }

    aside {
        width: 100%;
        text-align: center;
    }
}