/* TODO update styles */

.header {
    font-family: 'Times New Roman', Times, serif;
    color: darkorange;
}

.header h1 {
    display: inline-block;
    font-size: 42px;
}

.header h1 .Pinkus {
    font-family: serif;
    color: darkgray;
}

/* navigation styling */
nav {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* flex styling */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
}

/* Aside formatting with flex */
aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 20px;
    text-align: right;
    border-right: orange;
}

/* Main content with images */

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }

 .personal {
    flex: none;
    padding: 5px;
    text-align: left;
    border-style: ;
    border-width: ;
  }

  .card header {
    padding: 20px;
    color: ;
  }
  
  .card img {
    width: 100%;
    min-width: ;
  }

  /* TODO cards below*/
  .card 
  .personal

 
/* TODO add flex to footer */