/* REVIEW update styles */

body {
    line-height: 1.2;
  }

  h1 {
    font-size: 200%;
    color: rgb(255, 136, 0);
    margin-bottom: 0%;
  }
  

/* REVIEW Title formatting */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    background-color: white;
    gap: 25px;
    align-items: flex-end;
    margin-bottom: 0%;
    ;
}
  
  .Pinkus { 
    color: gray;
  }
  
  .Pinkus h1 {
    display: inline-block;
    font-size: 46px;
    border-right: 5px;
    color: rgb(255, 136, 0);
  }

/* navigation styling */
  
  nav ul {
    display: flex;
    justify-content:center;
    list-style: none;
    gap: 15px;
    margin-bottom: 0%;
  }

  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
  }

  nav a::after {
    color: orangered;
    text-decoration: underline orangered;
  }

  .hero {
    height: 300px;
    background-color: aquamarine;
  }

/* TODO Main content */

.main-container{
    flex-wrap: wrap;
    margin: 10px 10%;
   
} 

.section-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.title-container {
  border-right: 5px solid rgb(255, 136, 0);
  width: 20%;
}

.content-container {
  width: 80%;
  padding-left: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  width: 45%;
  padding: 1%;
}

.main-image {
  width: 92%;
}

.image-container img {
  width: 100%;
}

.contact-container {
  width: 80%;
  padding-left: 20px;
}

section ul {
 list-style: none;
 width: 80%;
 display: flex;
 flex-direction: row;
 align-content: space-between;
}



/* TODO  */
@media screen and (max-width: 768px) {
    header, main, section, footer ul {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        padding-right: 1%;
    }

    aside {
        width: 100%;
        text-align: center;
    }
}